canvas {
  border: solid 5px deepskyblue;
  border-radius: 7px;
  opacity: 0.9;
}

audio {
  position: absolute;
  top: 625px;
  left: 10px;
}

td {
  width: 25px;
  height: 25px;
}

#target {
  position: absolute;
  top: 9px;
  left: 13px;
  width: 1000px;
  z-index: -1;
}

#count {
  position: absolute;
  top: 20px;
  left: 30px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.8em;
}

#lives {
  position: absolute;
  top: 60px;
  left: 30px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.8em;
}
